.custom-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #343a40;
  color: #fff;
}

.custom-dropdown .dropdown-toggle::after {
  display: none !important;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
  color: #ffffff !important;
}

.dropdown-toggle .dropdown-arrow {
  transition: transform 0.3s ease;
}

.dropdown-toggle.show .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  display: block;
  visibility: hidden;
  pointer-events: none;
}

.show > .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
  pointer-events: auto;
}

.logout-item {
  color: #dc3545 !important;
}

.logout-item:hover,
.logout-item:focus {
  background-color: rgba(220, 53, 69, 0.2) !important;
  color: #dc3545 !important;
}
